# Public packages from npmjs.org
registry=https://registry.npmjs.org/

# Private packages with scope @gis from Nexus (comment when not needed)
@gis:registry=http://10.0.0.21:8081/repository/npm-group/   # only for pulling
@gis:registry=http://10.0.0.21:8081/repository/npm-hosted/  # only for publishing
